<ion-header class="cor">
  <ion-toolbar>
    <ion-buttons slot="start">
        <img src="/assets/img/ccz.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ccz">

  <div class="btn1">
    
    <ion-button routerLink="/dengue" expand="full" size="large" color="light"><img src="/assets/img/dengue.png">
      <p>Dengue</p>
    </ion-button>
  </div>

  <div class="btn2">
    <ion-button routerLink="/raiva" expand="full" size="large" color="light"><img src="/assets/img/raiva.png">
      <p>Raiva</p>
    </ion-button>
  </div>
  <div class="btn3">
    <ion-button routerLink="/leishmaniose" expand="full" size="large" color="light"><img src="/assets/img/lesh.png">
      <p>Leishmaniose</p>
    </ion-button>
  </div>
  <div class="btn4">
    <ion-button routerLink="/chagas" expand="full" size="large" color="light"><img src="/assets/img/barbeiro.png">
      <p>Doença de Chagas</p>
    </ion-button>
  </div>
  <div class="btn5">
    <ion-button routerLink="/leptospirose" expand="full" size="large" color="light"><img src="/assets/img/lepto.png">
      <p>Leptospirose</p>
    </ion-button>
  </div>
  <div class="btn6">
    <ion-button routerLink="/agua" expand="full" size="large" color="light"><img src="/assets/img/agua.png">
      <p>Água</p>
    </ion-button>




  </div>

  <ion-footer>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="logout()">
        <ion-icon color="light" name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-footer>