.ccz{

    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    }
    
    
    .ccz .btn1{
        margin-top: 40px;
        border-left: 20px inset rgb(255, 255, 255);
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz img{
        width: 30px;
        height: 30px;
       
    }
    
    .ccz .btn2{
        margin-top: 10px;
        border-left: 20px inset #FF0040;
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz .btn3{
        margin-top: 10px;
        border-left: 20px inset #F7FE2E;
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz .btn4{
        margin-top: 10px;
        border-left: 20px inset rgb(46, 255, 46);
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz .btn5{
        margin-top: 10px;
        border-left: 20px inset rgb(236, 172, 255);
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz .btn6{
        margin-top: 10px;
        border-left: 20px inset rgb(0, 102, 197);
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz .btn7{
        margin-top: 10px;
        border-left: 20px inset rgb(98, 237, 255);
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    .ccz .btn8{
        margin-top: 10px;
        border-left: 20px inset rgb(255, 6, 159);
        border-radius: 8px;
        margin-left: 20px;
        margin-right: 20px;
    
    }
    
    
    p{
        font-size: 13px;
    }